* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.ant-btn-primary {
  border-color: #fff;
  background: #e55a29;
}
.ant-btn-primary:hover,
.ant-btn-primary:active,
.ant-btn-primary:focus {
  border-color: #fff;
  background: rgba(229, 91, 41, 0.8) !important;
}

.form-title {
  border-bottom: 1px solid black;
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.7);
  margin: 10px 120px 10px;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  height: calc(100vh - 220px);
  overflow: auto;
  position: relative;
}
.question-icon {
  background: #e55a29;
  border-radius: 4px;
  padding: 8px;
  color: white;
}
.answer-icon {
  background: #59b5a2;
  border-radius: 4px;
  padding: 8px;
  color: white;
}
